.HighlightedBox{
    color: var(--white);
    background-color: var(--dark-red);
    cursor: pointer;
    
    img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .newsInfo{
        padding: 16px 8px;
        h3{
            font-size: calc(0.7rem + 0.4vw);
            font-weight: bold;
        }
        
    }
}

@media(min-width:420px){
    .HighlightedBox{
        min-height: 240px;

        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
}

@media(min-width:768px){
    .HighlightedBox{
        min-height: 240px;
    }
}

@media(min-width:996px){
    .HighlightedBox{
        min-height: 300px;
        transition: all .2s;
    
        &:hover{
            transform: scale(1.05);
        }
    }
}