.carousel{
  width: 100%;
  height: 300px;
  background-color: darkgrey;
}
.lastNews{
  margin-top: 30px;

  .lastNewsContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    .newsBox{
      border: 1px solid var(--grey);
      cursor: pointer;

      > div:first-child{
        width: 100%;
        height: 200px;
        background-color: darkgrey;
      }
      > section{
        padding: 7px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        >div:first-child{
          font-size: 0.9rem;
        }

        .newsDetails{
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .lastNews{

    .lastNewsContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
}

@media (min-width: 992px) {
  .lastNews{

    .lastNewsContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
}
