//--- Colors ---
$BLUE: blue;
$WHITE: white;

//Breakpoints
$BREAKPOINT-MOBILE: "only screen and (min-width: 480px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-DESKTOP: "only screen and (min-width: 1200px)";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (var(--breakpoint-mobile)) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
