.newsBox{
  border-top: 2px solid var(--grey);
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  > img{
    border-radius: 10px;
    width: 100%;
    height: auto; //Deve ser auto
  }
  .newsInfo{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3{
      font-size: calc(0.8rem + 0.5vw);
      font-weight: bold;
    }

    small{
      font-size: calc(0.7rem + 0.3vw);
    }
  }
}

@media(min-width: 768px){
    .newsBox{
        max-width: 900px;
        flex-direction: row;
        
        > img{
          max-width: 200px;
          width: 180px;
          height: auto;
          margin-right: 10px;
        }
        .newsInfo{
          margin-top: 0;

          h3{
            font-size: calc(.9rem + 0.3vw);
          }
        }
      }
    
}